.main-container{
  /* background-color: lightgrey; */
  display: flex;
  width: 100%;
  padding: 20px;
}

.fav-city-header{
display: flex;
align-items: center;
justify-content: space-between;
}

.content {
  /* background-color: yellowgreen; */
  width: 100%;
}

.city-name{
  /* background-color: rgb(210, 210, 131); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.card-container{
  /* background-color: yellow; */
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weather-card{
  /* background-color: red; */
  width: 45%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.weather-deatils{
  /* background-color: cyan; */
  padding: 10px;
}

.details{
  /* background-color: bisque; */
  height: 200px;
  padding: 5px;
  border: 1px solid gray;
}

.add-btn{
  display: flex;
  align-items: center;
  background-color: rgb(128, 128, 202);
  padding: 10px;
  border-radius: 5px;
}

.add-btn span{
  color: white;
  margin-right: 10px;
}

.btn{
  color: white;
}