.parent-container {
    margin: 0 auto;
    padding: 60px;
    background-color: #212121; 

  }
  
  .container {
    display: flex;
    border: 2px gray solid;
    border-radius: 0.4rem;

  }
  
  .side-menu {
    width: 12%;
    border-right: 1px gray solid;
  }

  .side-menu__item {
    margin-bottom: 0px;
    border-bottom: 1px gray solid;
  }
  
  .side-menu__item:hover {
    background-color: #14ffec;
  }

  .side-menu__link:hover {
    color: black;
  }
  .side-menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: wheat;
  }
  
  .side-menu__icon {
    margin-right: 5px;
    font-size: 20px;
    color: white;
  }  

  .side-menu__item.side-menu__link:active{
    background-color: #002825;
  }

  .active-link {
    background-color: rgba(122, 227, 227, 0.703);
    color: black;
  }