.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: #212121; */
  }
  
  .container {
    width: 70%;
    height: 85%;
    display: flex;
    border: 2px gray solid;
    margin: 10px 0;
  }
  
  .side-menu {
    width: 12%;
    /* height: 100%; */
    border-right: 2px gray solid;
    /* background-color: gold; */
  }

  .side-menu__item {
    margin-bottom: 0px;
    border-bottom: 1px gray solid;
  }
  
  .side-menu__item:hover {
    background-color: #14ffec;
  }

  .side-menu__link:hover {
    color: black;
  }
  .side-menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    /* color: white; */
  }
  
  .side-menu__icon {
    margin-right: 5px;
    font-size: 20px;
  }  

  .side-menu__item.side-menu__link:active{
    background-color: #14ffec;
  }